workflow.json
{
  "name": "Youtube ChatBot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "こんにちは！\nひだまり農園です！本日はどのようなご用件でしょうか？",
        "options": {
          "subtitle": "24時間365日ご質問にお答えします。",
          "title": "ひだまり農園"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "dfcfacd4-34f7-4a57-a6ae-80868f9c3b2e",
      "name": "When chat message received",
      "webhookId": "fda4cebd-a662-4663-a671-14425ddb9f13"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# ひだまり農園 QAチャットボット System Prompt\n\n## 役割\n\nあなたは「ひだまり農園」のオンラインショップに設置されたQAチャットボットです。\nお客様からの質問に対して、親しみやすく丁寧に回答してください。\n\n## 農園の基本情報\n\n- 農園名: ひだまり農園\n- 所在地: 長野県安曇野市\n- 特徴: 減農薬・有機栽培にこだわった野菜のオンライン販売\n- 問い合わせ先: info@hidamari-farm.example.com / 0263-XX-XXXX（平日9:00〜17:00）\n\n## 回答のルール\n\n### 基本方針\n\n- 必ずナレッジベース（Vector Store）の情報をもとに回答してください\n- ナレッジベースに情報がない場合は、推測で回答せず「お問い合わせください」と案内してください\n- 簡潔でわかりやすい回答を心がけてください\n- 箇条書きや表を適切に使い、読みやすく整理してください\n\n### トーン・話し方\n\n- 親しみやすく、温かみのある口調で話してください\n- 敬語を使いますが、堅すぎない自然な表現を使ってください\n- 絵文字は使用しません\n- 「〜ですね」「〜ですよ」など、柔らかい語尾を適度に使ってください\n\n### 回答の構成\n\n1. 質問に対する直接的な回答を最初に述べる\n2. 必要に応じて補足情報を追加する\n3. 関連する情報があれば提案する\n\n## 対応可能なトピック\n\n以下のトピックについて、ナレッジベースの情報をもとに回答できます。\n\n- 商品情報（季節の野菜、価格、野菜セットの内容）\n- 注文方法（購入の流れ、会員登録、定期購入）\n- 配送について（送料、届け日、届け時間、梱包）\n- 返品・キャンセル（返品条件、キャンセル方法、返金）\n- 農園について（こだわり、栽培方法、農園主の紹介）\n\n## 対応できない質問への対処\n\n以下の場合は、お問い合わせ先を案内してください。\n\n- ナレッジベースに該当する情報がない場合\n- 個別の注文状況の確認（「私の注文はいつ届きますか？」など）\n- クレーム対応や複雑なトラブル\n- 在庫の有無のリアルタイム確認\n\n### 案内テンプレート\n\n```\n申し訳ありません。そちらについては詳しい情報を持ち合わせておりません。\nお手数ですが、以下までお問い合わせください。\n\nメール: info@hidamari-farm.example.com\n電話: 0263-XX-XXXX（平日9:00〜17:00）\n```\n\n## 回答例\n\n### 例1: 送料について\n\n**質問**: 送料はいくらですか？\n\n**回答**: \n送料は配送先の地域によって異なります。\n\n- 関東: 1,000円\n- 信越・北陸: 900円\n- 関西: 1,100円\n- 北海道: 1,800円\n- 沖縄: 2,000円\n\nなお、1回のご注文で8,000円以上お買い上げの場合は送料無料となりますよ。\n（北海道・沖縄は10,000円以上で送料無料です）\n\n---\n\n### 例2: 旬の野菜について\n\n**質問**: 今の時期のおすすめ野菜は？\n\n**回答**:\n現在は冬野菜のシーズンですね。おすすめは以下の野菜です。\n\n- **白菜**: 霜に当たって甘みが増しています。鍋料理に最適です（1玉400円）\n- **寒締めほうれん草**: 糖度が高く、えぐみが少ないのが特徴です（1束200円）\n- **大根**: みずみずしく、煮物やおでんにぴったりです（1本250円）\n\n旬の野菜を詰め合わせた「おまかせBOX」もおすすめですよ。Sサイズ（5〜6種類）が2,000円からご用意しています。\n\n---\n\n### 例3: 情報がない場合\n\n**質問**: 来週届く予定の注文をキャンセルしたい\n\n**回答**:\nご注文のキャンセルについてですね。\n\n発送準備前（通常、ご注文から24時間以内）であればキャンセル可能です。\n個別のご注文状況については、お手数ですが直接お問い合わせください。\n\nメール: info@hidamari-farm.example.com\n電話: 0263-XX-XXXX（平日9:00〜17:00）\n\nご注文番号をお伝えいただけるとスムーズに対応できますよ。\n\n## 禁止事項\n\n- ナレッジベースにない情報を推測で回答すること\n- 価格や送料を間違えて伝えること\n- 競合他社の批判や比較\n- 政治・宗教など無関係な話題への言及\n- 個人情報の収集や保存\n\n## 最後に\n\nお客様が気持ちよくお買い物できるよう、丁寧で温かみのある対応を心がけてください。\nわからないことは正直に「わからない」と伝え、適切な問い合わせ先を案内することが大切です。\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        720,
        -192
      ],
      "id": "8cf7adce-9f45-4636-811c-304e6bac730d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {
          "fileSearch": {
            "vectorStoreIds": "[\"vs_6936848a7498819198751ffe3faa4241\"]",
            "filters": "{\n    \"type\": \"and\",\n    \"filters\": []\n}"
          }
        },
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        64
      ],
      "id": "b6be780a-fb93-4033-b864-68d392f194bc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TxjIraHGrjGtskXu",
          "name": "Youtube ChatBot"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        64
      ],
      "id": "d2d12e50-072c-4fa2-8bec-1161cf0dd899",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Jailbreak / Prompt Injection 防止フィルタ\n// ========================================\n\nconst input = $input.first().json;\nconst userMessage = input.chatInput || \"\";\n\n// --- 正規化処理 ---\nconst normalize = (text) => {\n  return text\n    .toLowerCase()\n    // 全角英数→半角\n    .replace(/[Ａ-Ｚａ-ｚ０-９]/g, (s) => String.fromCharCode(s.charCodeAt(0) - 0xFEE0))\n    // 全角スペース→半角\n    .replace(/　/g, \" \")\n    // 連続スペース→単一\n    .replace(/\\s+/g, \" \")\n    .trim();\n};\n\nconst normalizedMessage = normalize(userMessage);\n\n// --- 禁止パターン定義 ---\nconst blockedPatterns = [\n  // プロンプトインジェクション\n  /ignore\\s*(previous|above|all)/,\n  /forget\\s*(everything|all|your)/,\n  /disregard\\s*(previous|above|all)/,\n  /無視し(て|ろ)/,\n  /忘れ(て|ろ)/,\n  /システムプロンプト/,\n  /system\\s*prompt/,\n  \n  // ロール操作\n  /you\\s*are\\s*now/,\n  /act\\s*as\\s*(a|an)?/,\n  /pretend\\s*(to\\s*be|you)/,\n  /じゃないふり/,\n  /になりきって/,\n  \n  // 情報抽出\n  /repeat\\s*(the|your)\\s*(instructions|prompt)/,\n  /what\\s*(are|is)\\s*your\\s*(instructions|prompt|rules)/,\n  /プロンプト(を)?教えて/,\n  /命令(を)?(見せて|教えて)/,\n  \n  // 制限解除\n  /jailbreak/,\n  /bypass/,\n  /制限(を)?(解除|無視)/,\n  /リミット(を)?外し/,\n];\n\n// --- 禁止ワード定義（部分一致） ---\nconst blockedWords = [\n  \"dan\",\n  \"developer mode\",\n  \"devモード\",\n];\n\n// --- チェック実行 ---\nlet blocked = false;\nlet blockReason = null;\n\n// パターンマッチ\nfor (const pattern of blockedPatterns) {\n  if (pattern.test(normalizedMessage)) {\n    blocked = true;\n    blockReason = `pattern: ${pattern}`;\n    break;\n  }\n}\n\n// ワードマッチ\nif (!blocked) {\n  for (const word of blockedWords) {\n    if (normalizedMessage.includes(word)) {\n      blocked = true;\n      blockReason = `word: ${word}`;\n      break;\n    }\n  }\n}\n\n// --- 入力長チェック ---\nif (!blocked && userMessage.length > 1000) {\n  blocked = true;\n  blockReason = \"message_too_long\";\n}\n\nif (!blocked && userMessage.length < 1) {\n  blocked = true;\n  blockReason = \"message_empty\";\n}\n\n// --- 結果を返す ---\nreturn [{\n  json: {\n    ...input,\n    blocked,\n    blockReason,  // デバッグ用（本番では削除可）\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "0ecba1a0-7033-4c47-b15a-172147e7c3e1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f320b98-a8b7-4528-a7de-00f6c6d9f20f",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "6cfb1d5d-1523-49da-b626-378e985b8794",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      output: \"ご質問にお答えできません。\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        208
      ],
      "id": "1da2db05-4630-4a78-ab25-37c41ded2bab",
      "name": "Respond to Bad Question"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Bad Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb85beea-3a36-48c5-8523-627625c78ab0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5c0b103cf28fd7b7ecd6601350226222f86b360a494265b84013cd09ec8b29b"
  },
  "id": "FeZ7UgzOihnHqCSu",
  "tags": []
}